.contenedor__proyecto{
    margin: 0 auto;
    width: 700px;
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor__card{
    padding: 5px;
    box-shadow:2px 2px 5px #D2C7C4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h3{
    font-size: 24px;
    font-weight: bold;
}
.seccion__button{
    margin-top: 10px;
    outline: none;
    width: 100px;
    background-color: #229954;
    color: #fff;
    height: 40px;
    border-radius: 10px;
    border:none;
    
    
}
button:hover{
    background-color:#214e34;
   cursor: pointer;
}
