h3{
    color:#229954;
}
li{
    list-style:none;
}
.contacto{

        width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
           
    
 
}